---
---

<section class="mb-8">
  <div class="mb-4">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        Kendry Carvajal
      </span>
    </h1>
    <p class="text-2xl pb-4">BI Data Analyst</p>
  </div>
  <div>
    <p class="mb-5">
      <p>
      Hello! This is my blog where you can find tips and projects about Power BI and more!
    </p>
      <p>
      Here you will find the code for my projects:
      <a href={"https://github.com/Kecar2"} target="_blank">GitHub</a>.
      </p>
      <p>
      Find me on LinkedIn:  
      <a href={"https://www.linkedin.com/in/kendry-c-501639206/"} target="_blank">Linkedin</a>
      </p>
      <p>
      Contact me via email:
      <a href="mailto:kendry.contacto@gmail.com" target="_blank">Send mail</a>
    </p>
    </p>
  </div>
</section>
